# Ignore Python virtual environment
.venv/
env/

# Ignore compiled Python files
__pycache__/

# Ignore logs
*.log
logs/

# Ignore environment files (secrets, API keys)
.env

# Ignore dependency files (optional if using poetry or pipenv)
Pipfile
Pipfile.lock
poetry.lock

# Ignore directories or files
.vscode/
.vs/
.idea/
Pictures/
pdf.py
test.http

# Ignore database files
*.sqlite3
